    <% var pokemon_left = Math.floor(Math.random()*810).toString(); %>
    <% if(pokemon_left == 0) {pokemon_left = '1'} %>
    <% let pokemon_left_len = pokemon_left.length %>
    <% for(let i = 0; i< (3 - pokemon_left_len); i++) { %>
        <% pokemon_left = '0'+pokemon_left; %>
    <% } %>
        <% var pokemon_right = Math.floor(Math.random()*810).toString(); %>
        <% if(pokemon_right == 0) {pokemon_right = '1'} %> 
    <% let n = pokemon_right.length %> 
    <% for(let i = 0; i< (3 - n); i++) { %>
        <% pokemon_right = '0'+pokemon_right; %>
    <% } %>

    <div class="topnav">
        <div class="leftnav">
            <h1 id="title">Pokede<span>X</span></h1>
            <img src="images/<%= pokemon_left %>.png " alt="">
            <a href="/">Home</a>
            <a href="/pokemons">Pokemons</a>
        </div>
        <div class="rightnav">
            <div class="righttext">
                <a href="/register"><i class="material-icons">&#xe890;</i>Register</a>
                <a href="/login"><i class="material-icons">&#xe8a6;</i>Login</a>
            </div>
            <img src="images/<%= pokemon_right %>.png " alt="">
        </div>
    </div>