<div class="pokemoncard">
    <div class="pokemonheader">
    <span>Se on pokemon</span><span></span>

    </div>
    <div class="pokemonimg">
        <img src="images/025.png" alt="">
    </div>
    <div class="pokemonmain">

    </div>
</div>
<style>
    .pokemoncard {
        display: inline-block;
        border: 10px solid yellow;
        border-radius: 5px;
        margin: 10px;
        width: 300px;
        height: 400px;
        background: rgb(203,213,72);
        background: linear-gradient(180deg, rgba(203,213,72,1) 0%, rgba(242,255,0,0.56) 100%);
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    .pokemonheader {
        position: relative;
        top: 5%;
        left: 10%;
    }
    .pokemonimg {
        position: relative;
        left: 10%;
        top: 5%;
        display: block;
        -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        width: 80%;
        height: 40%;
        background:#ffff94;
    }
    .pokemonimg img {
        position: relative;
        top: 10%;
        left: 25%;
        width: 50%;
    }
    .pokemonmain {
        display: block;
        border: 2px;
        border-radius: 2px;

    }



</style>