<div class="form">

    <form class="form-signin" method="POST" action="<%=`/${currentUser._id}/update?_method=PUT`%>">

        <h2>Edit user information:</h2>
        <div>
            <label for="inputUsername">Username</label>
            <input type="text" name="username" id="inputUsername" value="<%=currentUser.username %>"
                placeholder="Username" autofocus />
        </div>
        <div>
            <label for="inputEmail">Email</label>
            <input type="text" name="email" id="inputEmail" value="<%=currentUser.email%>" placeholder="Email" />
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" value="<%=currentUser.password %>"
                placeholder="Password" />
        </div>
        <button type="submit">Update</button>

    </form>
</div>