<div class="form">
    <form class="login" action="/user/login" method="POST">
        <h2 class="header">Login:</h2>
        <div>
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" id="inputEmail" placeholder="Email address" autofocus required />
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Password" required />
        </div>
        <div class="submit-button">
            <button type="submit">Login</button>
        </div>
    </form>
</div>