<div class="form">

    <form name="login" action="/users/login" method="POST">

        <h2 class="header">Log in using your username and password:</h2>

        <label for="inputUsername">Username</label>
        <input type="text" name="username" id="inputUsername" placeholder="Username" autofocus required />
        <br><br>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password" required />
        <br><br>
        <button type="submit">Log in</button>

    </form>

</div>