<div class="form">
    <form class="login" action="/users/login" method="POST">
        <h2 class="header">Log in using your username and password:</h2>
        <div>
            <label for="inputUsername">Username</label>
            <input type="text" name="username" id="inputUsername" placeholder="Username" autofocus />
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Password" required />
        </div>
        <button type="submit">Log in</button>
    </form>
</div>