<div class="form">

    <form class="form-login" action="/login" method="POST">

        <h2 class="header">Login to Pokedex:</h2>
        <div>
            <label for="inputUsername">Username</label>
            <input type="text" name="username" id="inputUsername" placeholder="Username" autofocus />
        </div>
        <div>
            <label for="inputPassword">Password</label>
            <input type="password" name="password" id="inputPassword" placeholder="Password" required />
        </div>
        <button type="submit">Login</button>

    </form>

</div>