<div class="pokemons-page">
    <% pokemons.forEach(pokemon => { %>
        <% if(pokemon.type[0]) {var color = pokemon.type[0]; } else { var color = 'Normal';} %>
        <%- include ('partials/pokemon', { pokemon: pokemon, color: colors[color]}); %>
    <% }) %> 
</div>