<div class="register-form">

    <form class="form-register" action="/users/register" method="POST">

        <h2 class="header">Register a new user:</h2>

        <label for="inputUsername">Username</label>
        <input type="text" name="username" id="inputUsername" placeholder="Username" autofocus />

        <label for="inputEmail">Email address</label>
        <input type="email" name="email" id="inputEmail" placeholder="Email address" required />

        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" placeholder="Password" required />

        <button type="submit">Register</button>

    </form>

</div>