@font-face {
    font-family: "Roboto";
    src: url("Roboto-Black.ttf") format('truetype');
}
/* General */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    min-height: 100vh;
    max-width: 100vw;
    font-family: Roboto;
}
button {
    background-color: tomato;
    color: #fff;
    border: none;
    padding: 10px 44px;
    font-family: Roboto;
    font-size: 1em;
    width: 10em;
}
button a {
    text-decoration: none;
    color: #fff;
}
button:hover {
    box-shadow: 2px 2px #000;
}
.header {
    text-align: center;
}
.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.container {
    overflow: auto;
    flex: 1;
}
.submit-button {
    display: flex;
    justify-content: center;
}
/* Pokemon Page */
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
    z-index: 10;
}
.pokemons-page {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
}
.button {
    display: inline-flex;
    justify-content: center;
    margin: 2px;
}
.button-group {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}
.disabled {
    background-color: #d3d3d3;
}
.disabled:hover {
    cursor: no-drop;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: center;
}
#result {
    width: 100%;
    text-align: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    overflow-y: scroll;
    max-height: 200px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    visibility: hidden;
        color: darkslategray;
}
/* Flash Messages */
.flash-success {
    background-color: lightgreen;
    padding: 15px;
    text-align: center;
}
.flash-error {
    background-color: rgb(253, 93, 93);
    padding: 15px;
    text-align: center;
}
/* Form */
.form {
    display: flex;
    justify-content: center;
}
.form div {
    padding-bottom: 20px;
}
/* Profile */
.profile-info {
    display: flex;
    flex-direction: row;
}
.profile {
    display: flex;
    float: left;
    flex-direction: column;
    width: 25%;
    padding: 25px;
    flex-wrap: wrap;
    max-width: 500px;
}
.pokemons {
    padding: 20px;
    flex: 2;
}
.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.profile div, .table td, .table th, .button {
    padding-bottom: 20px;
}
.table td {
    padding-left: 15px;
}
.table {
    text-align: left;
}
.buttons {
    display: flex;
    flex-direction: column;
}
/* Navigation */
#title {
    display: inline;
    margin-right: 20px;
}
#title span {
    font-size: 1.6em;
    color: tomato;
    text-shadow: 2px 2px #000;
    vertical-align: sub;
    margin-left: -2px;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: sticky;
    top: 0;
    padding: 14px 16px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.topnav {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}
.topnav img {
    display: inline-block;
    object-fit: contain;
    padding: 15px;
    width: 10vh;
    height: auto;
}
.leftnav a {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}
.topnav a:hover {
     text-shadow: 2px 2px #000;
}
.leftnav {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    border: black;
    align-self: baseline;
}
.leftnav img {
    margin-left: 5px;
}
.rightnav {
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}
.righttext{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: auto;
}
.righttext i {
    vertical-align: middle;
}
.righttext a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
.logout {
    transform: rotate(180deg);
}
.material-icons {
    margin-right: 5px;
}
.dropdown-menu {
    background-color: #13547a;
    float: right;
}
.responsive-menu {
    display: none;
}
.responsive-menu a, .responsive-menu i {
    text-decoration: none;
    color: #fff;
}
/* Footer */
.footer {
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    position: relative;
}
#footer {
    text-align: center;
    bottom: 0;
    font-size: 0.8em;
    font-weight: lighter;
}
#footer i {
    vertical-align: middle;
}

/* RESPONSIVE */
@media only screen and (max-width: 1100px) {
    .profile-info {
        flex-direction: column;
    }
    .profile {
        float: none;
        justify-content: center;
        align-content: center;
        max-width: none;
        width: auto;
    }
    .user-info {
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 15px;
    }
    .user {
        align-content: center;
        flex-direction: column;
        padding: 15px;
    }
    .buttons {
        align-content: center;
        flex-direction: column;
        padding: 15px;
    }
    #delete-button {
        height: 58.4px;
    }
    .button {
        vertical-align: middle;
    }
}
@media only screen and (max-width: 800px) {
    #nav-img-2 {
        display: none;
    }
    .leftnav a, .rightnav a {
        display: none;
    }
    .responsive-menu {
        display: block;
    }
    #menu {
        float: right;
        display: block;
    }
    #close {
        display: none;
    }
    #title {
        margin-right: 5px;
    }
}
@media only screen and (max-width: 740px) {
    .collection {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 460px) {
    .buttons {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}
@media only screen and (max-width: 450px) {
    #nav-img-1 {
        display: none;
    }
}
@media only screen and (max-width: 360px) {
    .pokemons-page {
        overflow: auto;
    }
    .button-group {
        display: flex;
        flex-direction: column;
    }
    .footer p {
        font-size: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer i {
        font-size: 10px;
    }
    .pokemons {
        padding:0;
    }
    .collection {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .cards {
        padding: 0;
    }
}
