@font-face {
    font-family: "Roboto";
    src: url("Roboto-Black.ttf") format('truetype');
}

body {
    font-family: Roboto;
}
#title {
    display: inline;
}
#nav {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
#nav img {
    display: inline-block;
    width: 5%;
    height: 5%;
}

#nav a {
    margin-top: 40px;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}
#nav a:hover {
     text-shadow: 2px 2px #000;
}