@font-face {
    font-family: "Roboto";
    src: url("Roboto-Black.ttf") format('truetype');
}
/* General */
html, body {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
}
button {
    background-color: tomato;
    border: none;
    padding: 10px 44px;
    font-family: Roboto;
    font-size: 1em;
}
button:hover {
    box-shadow: 2px 2px #000;
}
.header {
    text-align: center;
}
/* Form */
.form {
    display: flex;
    justify-content: center;
}
/* Navigation */
#title {
    display: inline;
    margin-right: 20px;
}
#title span {
    font-size: 1.6em;
    color: tomato;
    text-shadow: 2px 2px #000;
    vertical-align: sub;
    margin-left: -2px;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 14px 16px;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.topnav {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}
.topnav img {
    display: inline-block;
    object-fit: contain;
    padding: 15px;
    width: 10vh;
    height: auto;
}
.leftnav a {
    display: flex;
    align-items: center;
    padding: 15px;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}
.topnav a:hover {
     text-shadow: 2px 2px #000;
}
.leftnav {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    border: black;
    align-self: baseline;
}
.leftnav img {
    margin-left: 5px;
}
.rightnav {
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}
.righttext{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: auto;
}
.righttext i {
    vertical-align: middle;
}
.righttext a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}
/* Footer */
.footer {
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    position: fixed;
}
#footer {
    text-align: center;
    bottom: 0;
    font-size: 0.8em;
    font-weight: lighter;
}
#footer i {
    vertical-align: middle;
}
